
.nav-container {
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .nav-link-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 30px;
        .active {
            text-decoration: underline;
        }

    }
    a {
        padding: 10px 15px;
        cursor: pointer;
        text-decoration: none;
        font-size: 25px;
        color: whitesmoke;
        
    }

    a:hover {
        color: black;
    }
    .logo-container {
        height: 100%;
        width: auto;
        margin-left: 80px;
        span{
            color: rgb(255, 255, 255);
        }
    }
}